
<link rel="stylesheet" href="~/css/vendors/themefy_icon/themify-icons.css" />
<link rel="stylesheet" href="~/css/vendors/niceselect/css/nice-select.css" />
<link rel="stylesheet" href="~/css/vendors/font_awesome/css/all.min.css" />
<link rel="stylesheet" href="~/css/vendors/vectormap-home/vectormap-2.0.2.css" />
<link rel="stylesheet" href="~/css/vendors/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/vendors/datatable/css/responsive.dataTables.min.css" />
<!-- link css for sidebar menu -->
<link rel="stylesheet" href="~/css/metisMenu.css">

<!-- link main css file -->
<link rel="stylesheet" href="~/css/style1.css" />
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>